{% extends 'layouts/formlayout.html' %}

{% block title %} Basic Form {% endblock %}
{% block content %}

    {# TABELA #}
<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3" style="background: transparent; opacity: 0.90">

                <h2 style="justify-content: center"><i class="fas fa-file-invoice" style="color: slategrey"></i><b style="color: darkblue"><i> Informacje Podstawowe</i></b></h2>

                <table class="table align-middle text-center table-bordered" style="border-style: groove">
                    <tr>

                        <th>Wiek</th>
                        <th>Waga</th>
                        <th>Wzrost</th>
                        <th>Płeć</th>
                        <th>Papierosy</th>
                        <th>Alkohol</th>
                        <th>Aktywność</th>
                    </tr>
                    <tr>

                        <td>{{ user['wiek']}}</td>
                        <td>{{ user['waga']}}</td>
                        <td>{{ user['wzrost']}}</td>
                            <td>
                                {% if user['plec'] == 1 %}
                                    Kobieta
                                {% elif user['plec'] == 0 %}
                                    Mężczyzna
                                {% endif %}
                            </td>
                            <td>
                                {% if user['papierosy'] == 1 %}
                                    Tak
                                {% elif user['papierosy'] == 0 %}
                                    Nie
                                {% endif %}
                            </td>
                        <td>
                                {% if user['alkohol'] == 1 %}
                                    Tak
                                {% elif user['alkohol'] == 0 %}
                                    Nie
                                {% endif %}
                        </td>
                        <td>
                                {% if user['aktywnosc'] == 1 %}
                                    Tak
                                {% elif user['aktywnosc'] == 0 %}
                                    Nie
                                {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            {% if user %}
                            <a href="basic/update" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{ user['id']}}">Zmień</a>
                            <a href="basic/delete" class="btn btn-danger btn-xs" action="{{url_for('BasicDelete')}}" method="POST" onclick="return confirm('Are You Sure To Delete ?')">Wyczyść</a>
                                <a href="{{ url_for('Basic') }}" class="btn btn-dark btn-xs" action="{{url_for('Basic')}}" method="POST">Odśwież</a>
                            {% else %}
                            <a href="basic/update" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modaledit{{ user['id']}}">Uzupełnij</a>
                            <a href="{{ url_for('Basic') }}" class="btn btn-dark btn-xs" action="{{url_for('Basic')}}" method="POST">Odśwież</a>
                            {% endif %}
                        </td>
                    </tr>

                </table>
            </div>
      </div>
   </div>
        <form method="POST" action="{{ url_for('InsertVacc') }}">
        <button class="btn btn-primary" type="submit">Analiza</button>
        </form>
        <div id="msg">{{ msg }}</div>
</div>

{#    FORMULARZ#}
<div id="modaledit{{ user['id']}}" class="modal fade" role="dialog">
   <div class="modal-dialog">

      <div class="modal-content">

         <div class="modal-header">

             {% if user %}
                <h1 >Edycja formularza</h1><br>
             {% else %}
                <h1 >Uzupełnienie formularza</h1><br>
             {% endif %}
         </div>
                <p><i>(Pamiętaj, żeby uzupełnić wszystkie pola)</i></p>
         <div class="modal-body">

            <form action="{{url_for('BasicUpdate')}}" method="POST">

               <div class="form-group">
                  <label for="wiek">Wiek:</label>
                   <div id="msg">{{ msg2 }}</div>
                   <input type="hidden"  name="id" value="{{ user['id']}}">
                  <input type="text" class="form-control" name="wiek" value="{{ user['wiek']}}" placeholder="{{ user['wiek']}}">
               </div>

               <div class="form-group">
                  <label for="waga">Waga:</label>
                   <div id="msg">{{ msg2 }}</div>
                  <input type="text" class="form-control" name="waga" value="{{ user['waga']}}" placeholder="{{ user['waga']}}">
               </div>

               <div class="form-group">
                  <label for="wzrost">Wzrost:</label>
                   <div id="msg">{{ msg2 }}</div>
                  <input type="text" class="form-control" name="wzrost" value="{{ user['wzrost']}}" placeholder="{{ user['wzrost']}}">
               </div>

               <div class="radio-group">
                  <label for="plec" class="cols-sm-2 control-label">Płeć:</label>

                  <div class="input-group-prepend">
			         <input type="radio" name="plec" id="plec" value="1"
                        {% if user['plec'] == 1 %}
                            checked
                            {% else  %}

                        {% endif %}>
                      <label>Kobieta</label>
                  </div>

                  <div class="input-group-prepend">
			        <input type="radio" name="plec" id="plec" value="0"
                     {% if user['plec'] == 0 %}
                     checked
                     {% endif %}>
                          <label>Mezczyzna</label>
                  </div>

               </div>

               <div class="radio-group">
		  <label for="papierosy" class="cols-sm-2 control-label">Papierosy:</label>
                  <div class="input-group-prepend">
			  <input type="radio" name="papierosy" id="papierosy" value="1"
                     {% if user['papierosy'] == 1 %}
                     checked
                     {% endif %}>
                          <label>Tak</label>
                  </div>
                  <div class="input-group-prepend">
			  <input type="radio" name="papierosy" id="papierosy" value="0"
                     {% if user['papierosy'] == 0 %}
                     checked
                      {% endif %}>
                          <label>Nie</label>
                  </div>
               </div>

               <div class="radio-group">
		  <label for="alkohol" class="cols-sm-2 control-label">Alkohol:</label>
                  <div class="input-group-prepend">
			  <input type="radio" name="alkohol" id="alkohol" value="1"
                     {% if user['alkohol'] == 1 %}
                     checked
                     {% endif %}/>
                          <label>Tak</label>
                  </div>
                  <div class="input-group-prepend">
			  <input type="radio" name="alkohol" id="alkohol" value="0"
                     {% if user['alkohol'] == 0 %}
                     checked
                     {% endif %}>
                          <label>Nie</label>
                  </div>
               </div>

               <div class="radio-group">
		  <label for="aktywnosc" class="cols-sm-2 control-label">Aktywność:</label>
                    <div>
                    <ul>
                        <p>Zaznaczyć "Tak", jeżeli ćwiczysz (mniej/więcej):</p>
                        <li>
                            <p>Minimalnie 3-4 razy w tygodniu po 45-90 minut lub około 1 000 kcal</p>
                        </li>
                        <li>
                            <p>Dziennie po 30 minut lub po 200-300 kcal</p>
                        </li>
                    </ul>
                    </div>
                  <div class="input-group-prepend">
			  <input type="radio" name="aktywnosc" id="aktywnosc" value="1"
                     {% if user['aktywnosc'] == 1%}
                     checked
                     {% endif %}>
                          <label>Tak</label>
                  </div>
                  <div class="input-group-prepend">
			  <input type="radio" name="aktywnosc" id="aktywnosc" value="0"
                     {% if user['aktywnosc'] == 0 %}
                     checked
                     {% endif %}>
                          <label>Nie</label>
                  </div>
               </div>


                <div id="msg">{{ msg }}</div>
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Wyślij</button>
               </div>

            </form>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
         </div>
      </div>
   </div>
</div>

{% endblock %}