{% extends 'layouts/formlayout.html' %}

{% block title %} Prevention Programs {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3" style="background: transparent; opacity: 0.90">
                <h2 style="justify-content: center"><i class="fas fa-stethoscope" style="color: slategrey"></i><b>Proponowane </b><b style="color: darkblue"><i>Programy Profilaktyczne</i></b></h2>
                <table class="table align-middle text-center table-bordered" style="border-style: groove">
                        <tr>
                            <th>Program</th>
                            <th>Link gov</th>
                            <th colspan="2">Status</th>
                            <th><a href="{{ url_for('ClearPrev')}}" class="btn btn-danger btn-xs" action="{{url_for('ClearPrev')}}" method="POST" onclick="return confirm('Ta akcja spowoduje usunięcie wszystkich rekordów, kontynuować?')">Usuń wszystko</a></th>
                        </tr>

        {% for p in prev %}
                <form method="POST" action="{{ url_for('PrevChoice', id=p.id) }}">

                        <tr>
                            <td style="vertical-align: center; text-align: center" rowspan="2"><h4>{{ p.nazwa }}</h4></td>

                            <td style="vertical-align: center; text-align: center" rowspan="2"><a href="http://{{ p.link_gov }}">Kliknij</a></td>

                            <td>
                                <label>Zakończone</label>
                            </td>

                            <td style="vertical-align: center; text-align: center">
                              <div>
                                    <div>
                                         <input type="checkbox" name="current_status" id="current_status"
                                        {% if  p.current_status  == 1 %}
                                            checked
                                        {% endif %}>
                                     </div>
                              </div>
                            </td>

                            <td rowspan="2" style="vertical-align: center; text-align: center">
                                    <div class="justify-content-center">
                                        <a href="{{ url_for('PrevClear', id=p.id) }}" class="btn btn-danger btn-xs" action="{{url_for('PrevClear', id=p.id)}}" method="POST" onclick="return confirm('Czy na pewno chcesz usunąć tę propozycję?')">Usuń</a>
                                        <button class="btn btn-success justify-content-center" type="submit">Zatwierdź!</button>
                                    </div>
                            </td>

                        </tr>

                        <tr>

                            <td>
                                <label>Na <span style="color: darkblue">tablicę</span></label>
                            </td>

                            <td style="vertical-align: center; text-align: center">
                              <div>
                                    <div>
                                         <input type="checkbox" name="todo_status" id="todo_status"
                                        {% if  p.todo_status  == 1 %}
                                            checked
                                        {% endif %}>
                                    </div>
                              </div>
                            </td>
                        </tr>
                </form>
{% endfor %}

              </table>
            </div>
      </div>
   </div>
</div>

{% endblock %}