{% extends 'layouts/formlayout.html' %}

{% block title %} Vaccines {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3" style="background: transparent; opacity: 0.90">
                <h2 style="justify-content: center"><i class="fas fa-syringe" style="color: slategrey"></i><b>Proponowane </b><b style="color: darkblue"><i>szczepienia</i></b></h2>
                <table class="table align-middle text-center table-bordered" style="border-style: groove">
                        <tr>
                            <th>Szczepienia</th>
                            <th>Typ</th>
                            <th colspan="2">Status</th>
                            <th><a href="{{ url_for('ClearVacc')}}" class="btn btn-danger btn-xs" action="{{url_for('ClearVacc')}}" method="POST" onclick="return confirm('Ta akcja spowoduje usunięcie wszystkich rekordów, kontynuować?')">Usuń wszystko</a></th>
                        </tr>


        {% for v in vacc %}
                <form method="POST" action="{{ url_for('VaccChoice', id=v.id) }}">

                        <tr>
                            <td style="vertical-align: center; text-align: center" rowspan="2"><h4>{{ v.nazwa }}</h4></td>

                            <td style="vertical-align: center; text-align: center" rowspan="2"><h4>{{ v.typ }}</h4></td>

                            <td>
                                <label>Zakończone</label>
                            </td>

                            <td style="vertical-align: center; text-align: center">
                              <div>
                                    <div>
                                         <input type="checkbox" name="current_status" id="current_status"
                                        {% if  v.current_status == 1 %}
                                            checked
                                        {% endif %}>
                                     </div>
                              </div>
                            </td>

                            <td rowspan="2" style="vertical-align: center; text-align: center">

                                    <div class="justify-content-center">
                                        <a href="{{ url_for('VaccClear', id=v.id) }}" class="btn btn-danger btn-xs" action="{{url_for('VaccClear', id=v.id)}}" method="POST" onclick="return confirm('Czy na pewno chcesz usunąć tę propozycję?')">Usuń</a>
                                        <button class="btn btn-success justify-content-center" type="submit">Zatwierdź!</button>
                                    </div>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <label>Na <span style="color: darkblue">tablicę</span></label>
                            </td>

                            <td style="vertical-align: center; text-align: center">

                              <div>
                                    <div>
                                         <input type="checkbox" name="todo_status" id="todo_status"
                                        {% if  v.todo_status == 1 %}
                                            checked
                                                {% elif v.current_status == 1 %}
                                                disabled
                                        {% endif %}>
                                     </div>
                              </div>
                            </td>
                        </tr>

                    </form>
        {% endfor %}
                </table>
            </div>
      </div>
   </div>
</div>

{% endblock %}