{% extends 'layouts/formlayout.html' %}

{% block title %} Vaccines {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">
                <h2 style="justify-content: center"><i class="fas fa-syringe" style="color: slategrey"></i><b style="color: darkblue"><i>Proponowane szczepienia</i></b></h2>
                    <form>

                        <table class="table align-items-center text-dark text-center">
                        <tr>
                            <th>Szczepienia</th>
                            <th>Typ</th>
                            <th colspan="4">Status</th>
                            <th></th>
                        </tr>

{% for v in vacc %}
    <p>{{ v.id }} toooo {{ vacc['id'] }} jest?</p>

                        <tr>
                            <td rowspan="2">{{ v.nazwa}}</td>
                            <td rowspan="2">{{ v.typ}}</td>

                            <td>
                                <label>Zakończone</label>
                            </td>

                            <td>
                              <div class="radio-group">
                                    <div class="input-group-prepend justify-content-center align-middle">
                                         <input type="checkbox" name="current" id="current" action="{{url_for('VaccDONE')}}" method="POST">
                                     </div>
                              </div>
                            </td>

                            <td rowspan="2">
{#                                Tutaj ignoruje id#}
{#                                <input type="hidden"  name="id" value="{{ v.id }}">#}
                                <a href="{{ url_for('VaccClear', id=vacc['id']) }}" class="btn btn-danger btn-xs" action="{{url_for('VaccClear')}}" method="POST" onclick="return confirm('Czy na pewno chcesz usunąć tę propozycję?')">Usuń</a>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label>Na <span style="color: darkblue">tablicę  </span></label>
                            </td>
                            <td>
                              <div class="radio-group ">
                                    <div class="input-group-prepend justify-content-center">
                                         <input type="checkbox" name="todo" id="todo" action="{{url_for('VaccTAB')}}" method="POST">
                                    </div>
                              </div>
                            </td>
                        </tr>
{% endfor %}
                </table>

                    </form>
            </div>
      </div>
   </div>
</div>

{% endblock %}