{% extends 'mainlayout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>Informacje podstawowe</h1>
<div>
    <p>Your data details are below:</p>
    <table>
        <tr>
            <td>Wiek:</td>
            <td>{{ user_u['age'] }}</td>
        </tr>
  <tr>
            <td>Waga:</td>
            <td>{{ user_u['weight'] }}</td>
        </tr>
        <tr>
            <td>Wzrost:</td>
            <td>{{ user_u['height'] }}</td>
        </tr>
        <tr>
            <td>Płeć</td>
            <td>{{ user_u['sex'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}