{% extends 'mainlayout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Formularz z informacjami podstawowymi</h1>
<div>
    <form action="{{ url_for('basicform_update') }}" method="post">
    <h2>Uzupełnij</h2>

            <div class="form-group">

               <label for="name" class="cols-sm-2 control-label">Twój wiek:</label>
               <div class="cols-sm-10">
                <div class="input-group">
                 <input type="text" class="form-control" name="age" id="age"  placeholder="Wiek"/>
                </div>
               </div>
            </div>

            <div class="form-group">
               <label for="name" class="cols-sm-2 control-label">Twoja waga:</label>
               <div class="cols-sm-10">
                <div class="input-group">
                 <input type="text" class="form-control" name="weight" id="weight"  placeholder="Waga"/>
                </div>
               </div>
            </div>

            <div class="form-group">
               <label for="name" class="cols-sm-2 control-label">Twój wzrost:</label>
               <div class="cols-sm-10">
                <div class="input-group">

                 <input type="text" class="form-control" name="height" id="height"  placeholder="Wzrost"/>
                </div>
               </div>
            </div>

            <div class="radio-group">
               <label for="name" class="cols-sm-2 control-label">Płeć:</label>

                  <div class="input-group-prepend">
                    <input type="radio" name="sex" id="sex" value="1">
                    <label>Kobieta</label>
                  </div>

                  <div class="input-group-prepend">
                    <input type="radio" name="sex" id="sex" value="0">
                    <label>Mężczyzna</label>
                  </div>
            </div>

            <div class="radio-group">
               <label for="name" class="cols-sm-2 control-label">Papierosy:</label>

                  <div class="input-group-prepend">
                    <input type="radio" name="smoke" id="smoke" value="1">
                    <label>Tak</label>
                  </div>

                  <div class="input-group-prepend">
                    <input type="radio" name="smoke" id="smoke" value="0">
                    <label>Nie</label>
                  </div>

            </div>

            <div class="radio-group">
               <label for="name" class="cols-sm-2 control-label">Alkohol:</label>

                  <div class="input-group-prepend">
                    <input type="radio" name="drink" id="drink" value="1">
                    <label>Tak</label>
                  </div>


                  <div class="input-group-prepend">
                    <input type="radio" name="drink" id="drink" value="0">
                    <label>Nie</label>
                  </div>

            </div>
                <div class="radio-group">
               <label for="name" class="cols-sm-2 control-label">Aktywność:</label>
                    <div>
                    <ul>
                        <p>Zaznaczyć "Tak", jeżeli ćwiczysz (mniej/więcej):</p>
                        <li>
                            <p>Minimalnie 3-4 razy w tygodniu po 45-90 minut lub około 1 000 kcal</p>
                        </li>
                        <li>
                            <p>Dziennie po 30 minut lub po 200-300 kcal</p>
                        </li>
                    </ul>
                    </div>
                  <div class="input-group-prepend">
                    <input type="radio" name="move" id="move" value="1">
                      <label>Tak</label>
                  </div>

                  <div class="input-group-prepend">
                    <input type="radio" name="move" id="move" value="0">
                    <label>Nie</label>
                  </div>
            </div>

    <div id="msg">{{ msg }}</div>
    <div><input type="submit" value="Save" class="save-btn" name="save"></div>
    </form>
</div>
{% endblock %}