{% extends 'mainlayout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Bootstrap Static Header -->
<div style="background-image: url(/static/header.jpeg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Twój Asystent proponuje:</h1>
    </div>
</div>


<div class="container py-5">
<ul>
  <li>
    <a href="#" contenteditable>
      <h2>Title #1</h2>
      <p>Text Content #1</p>
    </a>
  </li>

  <li>
    <a href="#" contenteditable>
      <h2>Title #2</h2>
      <p>Text Content #2</p>
    </a>
  </li>
  <li>
    <a href="#" contenteditable>
      <h2>Title #3</h2>
      <p>Text Content #3</p>
    </a>
  </li>
  <li>
    <a href="#" contenteditable>
      <h2>Title #4</h2>
      <p>Text Content #4</p>
    </a>
  </li>
  <li>
    <a href="#" contenteditable>
      <h2>Title #5</h2>
      <p>Text Content #5</p>
    </a>
  </li>
  <li>
    <a href="#" contenteditable>
      <h2>Title #6</h2>
      <p>Text Content #6</p>
    </a>
  </li>
  <li>
    <a href="#" contenteditable>
      <h2>Title #7</h2>
      <p>Text Content #7</p>
    </a>
  </li>
  <li>
    <a href="#" contenteditable>
      <h2>Title #8</h2>
      <p>Text Content #8</p>
    </a>
  </li>
</ul>
</div>

{% endblock %}
<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">