{% extends 'layouts/mainlayout.html' %}

{% block title %}Home{% endblock %}

{% block content %}



    <div class="dropdown-header text-black-50" style="background-image: url('/static/header.jpeg'); border-style: solid">
                <header>
                <div class="overlay">
                            <h1 class="display-4 font-weight-bold">Witaj, {{ username }}!</h1>
                <h2 class="display-4 font-weight-bold">To Twoja tablica:</h2>
                </div>
                </header>
    </div>

    {% if not (vacc or prev or check or user) or (vacc.todo_status or prev.todo_status or check.todostatus) == 0 %}
    <div>
        <h1>Jeszcze tu nic nie ma!</h1><br> <h4>Uzupełnij formularz i wciśnij przycisk "Analiza"</h4>
        <a href="{{ url_for('Basic') }}" class="btn btn-success btn-xs" action="{{url_for('Basic')}}" method="POST">Do formularza</a>
    </div>

    {% else %}

    <div class="hometable" style="background-image: url(/static/korek.jpg)">

    <ul class="kartki" style="list-style: none;">

        {% for v in vacc %}
            {% if (v.todo_status) == 1 or (v.current_status) == 1 %}

                  <li>
                  <div class="kartka">
                    <a class="odnosniki" href="{{ url_for('Vacc') }}" >
                      <p><b>{{ v.nazwa }}</b></p>
                        <p>{{ v.typ }}</p>
                    </a>
                  </div>
                  </li>

            {% endif %}
        {% endfor %}

        {% for c in check %}
            {% if  (c.todo_status) == 1 or (c.current_status) == 1 %}

                  <li>
                  <div class="kartka">
                    <a class="odnosniki" href="{{ url_for('Check') }}" >
                      <p><b>{{ c.nazwa }}</b></p>
                    </a>
                  </div>
                  </li>

            {% endif %}

        {% endfor %}

        {% for p in prev %}
            {% if  (p.todo_status) == 1 or (p.current_status) == 1 %}

                  <li>
                  <div class="kartka">
                    <a class="odnosniki" href="{{ url_for('Prev') }}" >
                      <p><b>{{ p.nazwa }}</b></p>
                    </a>
                  </div>
                  </li>

            {% endif %}
         {% endfor %}

    </ul>

    </div>
    {% endif %}

{% endblock %}

<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
