{% extends 'layouts/mainlayout.html' %}

{% block title %}Home{% endblock %}

{% block content %}



    <div class="dropdown-header text-black-50 ">
                <header>
                <div class="overlay">
                            <h1 class="display-4 font-weight-bold">Witaj, {{ username }}!</h1>
                <h2 class="display-4 font-weight-bold">To Twoja tablica:</h2>
                </div>
                </header>
</div>
{#todo#}
    {% if (v in vacc == null) and (p in prev == null) and (c in check == null) %}
    <div>
        <h1>Jeszcze tu nic nie ma!<br> Uzupełnij formularz</h1>
        <a href="{{ url_for('Basic') }}" class="btn btn-success btn-xs" action="{{url_for('Basic')}}" method="POST">Uzupełnij</a>
    </div>
    {% else %}
    <div class="hometable" style="background-image: url(/static/korek.jpg)">

    <ul class="kartki" style="list-style: none;">

        {% for v in vacc %}
            {% if v.todo_status == 1 %}

                  <li>
                    <a class="odnosniki" href="{{ url_for('Vacc') }}" >
                      <h1>{{ v.nazwa }}</h1>
                        <p>{{ v.typ }}</p>
                    </a>
                  </li>

            {% endif %}

        {% endfor %}

        {% for c in check %}
            {% if  c.todo_status == 1 %}

                  <li>
                    <a class="odnosniki" href="{{ url_for('Check') }}" >
                      <h1>{{ c.nazwa }}</h1>
                    </a>
                  </li>

            {% endif %}

        {% endfor %}

        {% for p in prev %}
            {% if  p.todo_status == 1 %}

                  <li>
                    <a class="odnosniki" href="{{ url_for('Prev') }}" >
                      <h1>{{ p.nazwa }}</h1>
                    </a>
                  </li>

            {% endif %}
         {% endfor %}

    </ul>

    </div>
    {% endif %}

{% endblock %}

<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">