{% extends 'prevlayout.html' %}

{% block title %}Med-Assistent Login{% endblock %}

{% block sublogin %}Zaloguj się{% endblock %}

{% block content %}

   <form class="form-group" action="{{ url_for('login') }}" method="post">
    <div class="form-group">
    <label for="name" class="cols-sm-2 control-label">Nazwa użytkownika</label>
    <div class="cols-sm-10">
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
    <input type="text" class="form-control" name="username" placeholder="Nazwa użytkownika" id="username" required>
          </div>
       </div>
      </div>

       <div class="form-group">
       <label for="password" class="cols-sm-2 control-label">Hasło</label>
       <div class="cols-sm-10">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
    <input type="password" class="form-control" name="password" placeholder="Hasło" id="password" required>
            </div>
       </div>
      </div>


    <input type="checkbox" value="checked"><b> Zapamiętaj</b>
    <hr>
    <input type="submit" value="Zaloguj się" class="signinbtn" name="">


   <div id="msg">{{ msg }}</div>
   <p> Nie masz konta? </p>
   <p><a href="{{ url_for('register') }}" class="signupbtn">Zarejestruj</a></p>
   </form>
{% endblock %}