{% extends 'mainlayout.html' %}
 
{% block title %}Profil{% endblock %}
 
{% block content %}
<h1>Mój profil</h1>

<div>
    <p>Dane użytkownika:</p>
    <table>
        <tr>
            <td>Imię:</td>
            <td>{{ account['fullname'] }}</td>
        </tr>
  <tr>
            <td>Nazwa Użytkownika:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Hasło:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}