{% extends 'layouts/prevlayout.html' %}

{% block title %}Register{% endblock %}

{% block sublogin %}Rejestracja nowego użytkownika{% endblock %}

{% block content %}

     <form action="{{ url_for('register') }}" method="post" autocomplete="off">

      <div class="form-group">
       <label for="name" class="cols-sm-2 control-label">Imię</label>
       <div class="cols-sm-10">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
         <input type="text" class="form-control" name="fullname" id="fullname"  placeholder="Podaj imię"/>
        </div>
       </div>
      </div>

      <div class="form-group">
       <label for="email" class="cols-sm-2 control-label">Adres E-mail</label>
       <div class="cols-sm-10">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
         <input type="text" class="form-control" name="email" id="email"  placeholder="Podaj E-mail"/>
        </div>
       </div>
      </div>

      <div class="form-group">
       <label for="username" class="cols-sm-2 control-label">Nazwa Użytkownika</label>
       <div class="cols-sm-10">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
         <input type="text" class="form-control" name="username" id="username" placeholder="Podaj nazwę użytkownika" required>
        </div>
       </div>
      </div>

      <div class="form-group">
       <label for="password" class="cols-sm-2 control-label">Hasło</label>
       <div class="cols-sm-10">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
         <input type="password" class="form-control" name="password" placeholder="Podaj Hasło" id="password" required>
        </div>
       </div>
      </div>

       <div id="msg">{{ msg }}</div>
       <h5>Załóż konto</h5>
       <input type="submit" value="Zarejestruj" class="signupbtn" name="Register">
       <h5>Masz już konto?</h5>
       <p><a href="{{ url_for('login') }}" class="signinbtn">Zaloguj się</a></p>
     </form>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}